<a href="https://colab.research.google.com/github/NewtonSawitta/bsc_dpdm22/blob/main/%5Bdataprep1%5D_property_estimator_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#สรุปข้อมูลของนักประเมินแต่ละคน โดยพิจารณาจาก ความมั่นใจในการประเมิน ประเมินราคาซื้อ-ขาย ให้คะแนนหลักทรัพย์

##import data

In [289]:
import pandas as pd

In [290]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

###Sheet name 'บ้าน'

In [291]:
home = pd.read_excel('/content/drive/MyDrive/bsc_DMPM_data/คำตอบนักประเมิน.xlsx',sheet_name='บ้าน')
home

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,100.0
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,2,https://nayoo.co/khonkaen/posts/19495,บ้านเดี่ยว,มั่นใจ,5500000.0,5000000.0,"ราคาเสนอขาย 20,000-30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
186,2,https://nayoo.co/khonkaen/posts/19496,บ้านเดี่ยว,มั่นใจ,7911000.0,7400000.0,"ราคาเสนอขาย 20,000 - 30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
187,2,https://nayoo.co/khonkaen/posts/20,บ้านเดี่ยว,มั่นใจ,2000000.0,2500000.0,ราคาเสนอขาย 2.2-3.0 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
188,2,https://nayoo.co/khonkaen/posts/31,บ้านเดี่ยว,มั่นใจ,4000000.0,3900000.0,ราคาเสนอขาย 3.5-4.0ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
189,2,https://nayoo.co/khonkaen/posts/570,บ้านเดี่ยว,มั่นใจ,1375000.0,1400000.0,ราคาเสนอขาย 1.2-1.5 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN

###Sheet name 'ที่ดิน'

In [292]:
land = pd.read_excel('/content/drive/MyDrive/bsc_DMPM_data/คำตอบนักประเมิน.xlsx',sheet_name='ที่ดิน')
land

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,1800000.0,"8,000-25,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,100.0
1,2,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,2000000.0,"ราคาเสนอขาย 7,000-12,0000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
2,4,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,3000000.0,12000-18000,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN
3,1,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,8000000.0,"25,000-80,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
4,2,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,12000000.0,"ราคาเสนอขาย 100,000-150,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,1,https://nayoo.co/khonkaen/posts/17093,ที่ดิน,มั่นใจ,2650000,2000000.0,"500-15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN
206,2,https://nayoo.co/khonkaen/posts/17112,ที่ดิน,มั่นใจ,1300000,1500000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
207,1,https://nayoo.co/khonkaen/posts/17112,ที่ดิน,มั่นใจ,1300000,1500000.0,"500-25,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
208,2,https://nayoo.co/khonkaen/posts/17145,ที่ดิน,มั่นใจ,3000000,2800000.0,"ราคาเสนอขาย 10,000 - 15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN
209,1,https://nayoo.co/khonkaen/posts/17145,ที่ดิน,มั่นใจ,3000000,2500000.0,"1,000-25,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN

###Sheet name 'ทาวน์โฮม'

In [293]:
town_home = pd.read_excel('/content/drive/MyDrive/bsc_DMPM_data/คำตอบนักประเมิน.xlsx',sheet_name='ทาวน์โฮม')
town_home

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,120.0
1,2,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,1500000.0,ราคาซื้อขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,1500000.0,ราคาเสนอขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,3520000.0,3500000.0,"8,000-80,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2,https://nayoo.co/khonkaen/posts/18547,ทาวน์โฮม,มั่นใจ,1430000.0,1200000.0,ราคาเสนอขาย1.2-1.5ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
236,2,https://nayoo.co/khonkaen/posts/18551,ทาวน์โฮม,มั่นใจ,1980000.0,1700000.0,ราคาเสนอขาย 1.7-2.0ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
237,2,https://nayoo.co/khonkaen/posts/19434,ทาวน์โฮม,มั่นใจ,2000000.0,1900000.0,ราคาเสนอขาย 1.8-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
238,2,https://nayoo.co/khonkaen/posts/19501,ทาวน์โฮม,มั่นใจ,1790000.0,1700000.0,ราคาเสนอขาย 1.7-1.9 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
239,2,https://nayoo.co/khonkaen/posts/20367,ทาวน์โฮม,มั่นใจ,1590000.0,1700000.0,ราคาเสนอขาย 1.7-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN

###Sheet name 'อาคารพาณิชย์'

In [294]:
commercial_building = pd.read_excel('/content/drive/MyDrive/bsc_DMPM_data/คำตอบนักประเมิน.xlsx',sheet_name='อาคารพาณิชย์')
commercial_building

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,6000000.0,"8,000-30,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,10.0
1,2,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,8000000.0,"ราคาเสนอขาย 4,000,000-6,000,000 บาท/คูหา",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,"8,000-40,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000.0,13500000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
5,2,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000.0,20000000.0,ราคาเสนอขาย 6-8 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN
6,1,https://nayoo.co/khonkaen/posts/22,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3500000.0,4000000.0,"8,000-60,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
7,2,https://nayoo.co/khonkaen/posts/22,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3500000.0,4000000.0,ราคาเสนอขาย 3-5 ล้านบาท/คูหา,NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
8,1,https://nayoo.co/khonkaen/posts/24,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000.0,2200000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
9,2,https://nayoo.co/khonkaen/posts/24,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000.0,3000000.0,ราคาซื้อขาย 3-4 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
10,1,https://nayoo.co/khonkaen/posts/30,อาคารพาณิชย์/สำนักงาน,มั่นใจ,4800000.0,3600000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
11,2,https://nayoo.co/khonkaen/posts/30,อาคารพาณิชย์/สำนักงาน,มั่นใจ,4800000.0,4000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/ คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
12,1,https://nayoo.co/khonkaen/posts/35,อาคารพาณิชย์/สำนักงาน,มั่นใจ,2400000.0,2500000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN
13,2,https://nayoo.co/khonkaen/posts/35,อาคารพาณิชย์/สำนักงาน,มั่นใจ,2400000.0,2100000.0,ราคาเสนอขาย 2-2.5 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
14,1,https://nayoo.co/khonkaen/posts/497,อาคารพาณิชย์/สำนักงาน,มั่นใจ,5000000.0,3800000.0,"8,000-40,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
15,2,https://nayoo.co/khonkaen/posts/497,อาคารพาณิชย์/สำนักงาน,มั่นใจ,5000000.0,5000000.0,ราคาเสนอขาย 5 - 7 ล้านบาท / คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
16,1,https://nayoo.co/khonkaen/posts/498,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,7000000.0,"15,000-80,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
17,2,https://nayoo.co/khonkaen/posts/498,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,8000000.0,ราคาเสนอขาย 8-10 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN
18,1,https://nayoo.co/khonkaen/posts/499,อาคารพาณิชย์/สำนักงาน,มั่นใจ,9000000.0,8000000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN
19,2,https://nayoo.co/khonkaen/posts/499,อาคารพาณิชย์/สำนักงาน,มั่นใจ,9000000.0,10000000.0,ราคาเสนอขาย 5-6 ล้านบาท/คูหา,NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN

##ผู้ประเมินคนที่ 1

* บ้าน

In [295]:
est1_H = home[home['ID ผู้ประเมิน']==1]
est1_H

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,100.0
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
6,1,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000.0,3500000.0,"5,000-18,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
8,1,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000.0,2500000.0,"5,000-25,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,1,https://nayoo.co/khonkaen/posts/19495,บ้านเดี่ยว,มั่นใจ,5500000.0,4500000.0,"3,000-30,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
156,1,https://nayoo.co/khonkaen/posts/19496,บ้านเดี่ยว,มั่นใจ,7911000.0,5200000.0,"3,000-30,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
157,1,https://nayoo.co/khonkaen/posts/20,บ้านเดี่ยว,มั่นใจ,2000000.0,3600000.0,"3,000-30,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
158,1,https://nayoo.co/khonkaen/posts/31,บ้านเดี่ยว,มั่นใจ,4000000.0,4000000.0,"3,000-35,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
159,1,https://nayoo.co/khonkaen/posts/570,บ้านเดี่ยว,มั่นใจ,1375000.0,1200000.0,"3,000-30,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN

In [296]:
est1_H.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,100.0,1.000000e+02,1.000000e+02,0.0,0.0,0.0,0.0,1.0
mean,1.0,4.316360e+06,3.938500e+06,NaN,NaN,NaN,NaN,100.0
std,0.0,2.865391e+06,2.368553e+06,NaN,NaN,NaN,NaN,NaN
min,1.0,3.900000e+05,6.000000e+05,NaN,NaN,NaN,NaN,100.0
25%,1.0,2.892750e+06,2.775000e+06,NaN,NaN,NaN,NaN,100.0
50%,1.0,3.962000e+06,3.600000e+06,NaN,NaN,NaN,NaN,100.0
75%,1.0,5.000000e+06,4.500000e+06,NaN,NaN,NaN,NaN,100.0
max,1.0,2.094900e+07,1.600000e+07,NaN,NaN,NaN,NaN,100.0

* ที่ดิน

In [297]:
est1_L = land[land['ID ผู้ประเมิน']==1]
est1_L

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,1800000.0,"8,000-25,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,100.0
3,1,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,8000000.0,"25,000-80,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
6,1,https://nayoo.co/khonkaen/posts/1726,ที่ดิน,มั่นใจ,90000000,18000000.0,"8,000-35,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
9,1,https://nayoo.co/khonkaen/posts/1732,ที่ดิน,มั่นใจ,65000000,35000000.0,"15,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
12,1,https://nayoo.co/khonkaen/posts/1866,ที่ดิน,มั่นใจ,3000000,2200000.0,"10,000-20,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,1,https://nayoo.co/khonkaen/posts/14539,ที่ดิน,มั่นใจ,5000000,4000000.0,"800-25,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
203,1,https://nayoo.co/khonkaen/posts/16072,ที่ดิน,มั่นใจ,750000,500000.0,"3,000-25,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN
205,1,https://nayoo.co/khonkaen/posts/17093,ที่ดิน,มั่นใจ,2650000,2000000.0,"500-15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN
207,1,https://nayoo.co/khonkaen/posts/17112,ที่ดิน,มั่นใจ,1300000,1500000.0,"500-25,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
209,1,https://nayoo.co/khonkaen/posts/17145,ที่ดิน,มั่นใจ,3000000,2500000.0,"1,000-25,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN

In [298]:
est1_L.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,Unnamed: 9,Unnamed: 11,Unnamed: 12
count,100.0,1.000000e+02,1.000000e+02,10.000000,0.0,1.0
mean,1.0,1.644375e+07,9.069000e+06,2.500000,NaN,100.0
std,0.0,4.202164e+07,2.322360e+07,0.527046,NaN,NaN
min,1.0,6.500000e+05,5.000000e+05,2.000000,NaN,100.0
25%,1.0,1.900000e+06,1.675000e+06,2.000000,NaN,100.0
50%,1.0,3.999500e+06,3.175000e+06,2.500000,NaN,100.0
75%,1.0,1.207500e+07,1.000000e+07,3.000000,NaN,100.0
max,1.0,2.860000e+08,2.220000e+08,3.000000,NaN,100.0

* ทาวน์โฮม

In [299]:
est1_TH = town_home[town_home['ID ผู้ประเมิน']==1]
est1_TH

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,120.0
2,1,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,3520000.0,3500000.0,"8,000-80,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN
6,1,https://nayoo.co/khonkaen/posts/580,ทาวน์โฮม,มั่นใจ,3850000.0,3500000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
8,1,https://nayoo.co/khonkaen/posts/582,ทาวน์โฮม,มั่นใจ,990000.0,1000000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,1,https://nayoo.co/khonkaen/posts/18547,ทาวน์โฮม,มั่นใจ,1430000.0,1000000.0,"3,000-35,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
126,1,https://nayoo.co/khonkaen/posts/18551,ทาวน์โฮม,มั่นใจ,1980000.0,1500000.0,"3,000-35,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
127,1,https://nayoo.co/khonkaen/posts/19434,ทาวน์โฮม,มั่นใจ,2000000.0,1600000.0,"3,000-35,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
128,1,https://nayoo.co/khonkaen/posts/19501,ทาวน์โฮม,มั่นใจ,1790000.0,1600000.0,"3,000-35,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
129,1,https://nayoo.co/khonkaen/posts/20367,ทาวน์โฮม,มั่นใจ,1590000.0,1700000.0,"3,000-35,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN

In [300]:
est1_TH.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
count,120.0,1.200000e+02,1.200000e+02,0.0,0.0,0.0,0.0,1.0
mean,1.0,1.926117e+06,1.832750e+06,NaN,NaN,NaN,NaN,120.0
std,0.0,8.295864e+05,8.027065e+05,NaN,NaN,NaN,NaN,NaN
min,1.0,5.300000e+05,3.500000e+05,NaN,NaN,NaN,NaN,120.0
25%,1.0,1.345000e+06,1.300000e+06,NaN,NaN,NaN,NaN,120.0
50%,1.0,1.750000e+06,1.600000e+06,NaN,NaN,NaN,NaN,120.0
75%,1.0,2.437500e+06,2.500000e+06,NaN,NaN,NaN,NaN,120.0
max,1.0,4.730000e+06,4.200000e+06,NaN,NaN,NaN,NaN,120.0

* อาคารพาณิชย์

In [301]:
est1_CB = commercial_building[commercial_building['ID ผู้ประเมิน']==1]
est1_CB

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,6000000.0,"8,000-30,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,10.0
2,1,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,"8,000-40,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000.0,13500000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
6,1,https://nayoo.co/khonkaen/posts/22,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3500000.0,4000000.0,"8,000-60,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
8,1,https://nayoo.co/khonkaen/posts/24,อาคารพาณิชย์/สำนักงาน,มั่นใจ,3900000.0,2200000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
10,1,https://nayoo.co/khonkaen/posts/30,อาคารพาณิชย์/สำนักงาน,มั่นใจ,4800000.0,3600000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
12,1,https://nayoo.co/khonkaen/posts/35,อาคารพาณิชย์/สำนักงาน,มั่นใจ,2400000.0,2500000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN
14,1,https://nayoo.co/khonkaen/posts/497,อาคารพาณิชย์/สำนักงาน,มั่นใจ,5000000.0,3800000.0,"8,000-40,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
16,1,https://nayoo.co/khonkaen/posts/498,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,7000000.0,"15,000-80,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
18,1,https://nayoo.co/khonkaen/posts/499,อาคารพาณิชย์/สำนักงาน,มั่นใจ,9000000.0,8000000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,NaN

In [302]:
est1_CB.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,Unnamed: 9,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,10.0,1.000000e+01,1.000000e+01,0.0,10.000000,0.0,0.0,1.0
mean,1.0,7.710000e+06,6.260000e+06,NaN,2.700000,NaN,NaN,10.0
std,0.0,5.926110e+06,3.913850e+06,NaN,0.823273,NaN,NaN,NaN
min,1.0,2.400000e+06,2.200000e+06,NaN,2.000000,NaN,NaN,10.0
25%,1.0,4.125000e+06,3.650000e+06,NaN,2.000000,NaN,NaN,10.0
50%,1.0,6.000000e+06,5.000000e+06,NaN,2.500000,NaN,NaN,10.0
75%,1.0,8.500000e+06,7.750000e+06,NaN,3.000000,NaN,NaN,10.0
max,1.0,2.250000e+07,1.350000e+07,NaN,4.000000,NaN,NaN,10.0

###ความมั่นใจในการเมินราคาทรัพย์

####บ้าน

In [303]:
est1_H['ความมั่นใจในการเมินราคาทรัพย์'].value_counts()

มั่นใจ    100
Name: ความมั่นใจในการเมินราคาทรัพย์, dtype: int64

####ที่ดิน

In [304]:
est1_L['ความมั่นใจในการเมินราคาทรัพย์'].value_counts()

มั่นใจ    100
Name: ความมั่นใจในการเมินราคาทรัพย์, dtype: int64

####ทาวน์โฮม

In [305]:
est1_TH['ความมั่นใจในการเมินราคาทรัพย์'].value_counts()

มั่นใจ    120
Name: ความมั่นใจในการเมินราคาทรัพย์, dtype: int64

####อาคารพาณิชย์

In [306]:
est1_CB['ความมั่นใจในการเมินราคาทรัพย์'].value_counts()

มั่นใจ    10
Name: ความมั่นใจในการเมินราคาทรัพย์, dtype: int64

###ประเมินราคาซื้อ-ขาย

####บ้าน

In [307]:
est1_H['ประเมินราคาซื้อ-ขาย'].value_counts()

3500000.0     14
4500000.0      9
4200000.0      8
4000000.0      5
2500000.0      4
2800000.0      4
3800000.0      4
1200000.0      4
5200000.0      4
1800000.0      3
5000000.0      3
3600000.0      3
7500000.0      3
2700000.0      2
5500000.0      2
2200000.0      2
3300000.0      2
3000000.0      2
3200000.0      2
2000000.0      2
6200000.0      1
15000000.0     1
2600000.0      1
5600000.0      1
4700000.0      1
4300000.0      1
4400000.0      1
600000.0       1
1600000.0      1
8000000.0      1
16000000.0     1
750000.0       1
12000000.0     1
1500000.0      1
800000.0       1
700000.0       1
1700000.0      1
4800000.0      1
Name: ประเมินราคาซื้อ-ขาย, dtype: int64

####ที่ดิน

In [308]:
est1_L['ประเมินราคาซื้อ-ขาย'].value_counts()

10000000.0     8
2000000.0      7
12000000.0     6
1000000.0      6
1500000.0      5
4000000.0      5
2500000.0      5
1600000.0      4
1800000.0      3
3500000.0      3
1200000.0      3
700000.0       2
1300000.0      2
32000000.0     2
6000000.0      2
2800000.0      2
7000000.0      2
2200000.0      2
35000000.0     2
2700000.0      1
2300000.0      1
12500000.0     1
3000000.0      1
3200000.0      1
28000000.0     1
1700000.0      1
800000.0       1
5200000.0      1
11000000.0     1
650000.0       1
4500000.0      1
6500000.0      1
22000000.0     1
27000000.0     1
5500000.0      1
45000000.0     1
222000000.0    1
8000000.0      1
3800000.0      1
14000000.0     1
24000000.0     1
1900000.0      1
3150000.0      1
5000000.0      1
5600000.0      1
7500000.0      1
18000000.0     1
500000.0       1
Name: ประเมินราคาซื้อ-ขาย, dtype: int64

####ทาวน์โฮม

In [309]:
est1_TH['ประเมินราคาซื้อ-ขาย'].value_counts()

1500000.0    17
2500000.0    12
1600000.0     9
2000000.0     8
2200000.0     6
1000000.0     6
1800000.0     6
1400000.0     5
1200000.0     5
700000.0      5
1700000.0     4
2700000.0     4
3500000.0     4
1300000.0     3
2800000.0     3
800000.0      2
650000.0      2
3000000.0     2
2300000.0     2
3600000.0     2
3200000.0     2
2900000.0     1
1100000.0     1
600000.0      1
500000.0      1
900000.0      1
3300000.0     1
350000.0      1
750000.0      1
4200000.0     1
950000.0      1
980000.0      1
Name: ประเมินราคาซื้อ-ขาย, dtype: int64

####อาคารพาณิชย์

In [310]:
est1_CB['ประเมินราคาซื้อ-ขาย'].value_counts()

6000000.0     1
12000000.0    1
13500000.0    1
4000000.0     1
2200000.0     1
3600000.0     1
2500000.0     1
3800000.0     1
7000000.0     1
8000000.0     1
Name: ประเมินราคาซื้อ-ขาย, dtype: int64

###ให้คะแนนหลักทรัพย์

####บ้าน

In [311]:
est1_H['ให้คะแนนทรัพย์'].value_counts()

2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี    54
3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     43
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน       2
1 ขายไม่ได้แน่นอน                      1
Name: ให้คะแนนทรัพย์, dtype: int64

####ที่ดิน

In [312]:
est1_L['ให้คะแนนทรัพย์'].value_counts()

2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี    55
3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     45
Name: ให้คะแนนทรัพย์, dtype: int64

####ทาวน์โฮม

In [313]:
est1_TH['ให้คะแนนทรัพย์'].value_counts()

3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     100
2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี     14
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน        6
Name: ให้คะแนนทรัพย์, dtype: int64

####อาคารพาณิชย์

In [314]:
est1_CB['ให้คะแนนทรัพย์'].value_counts()

2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี    5
3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     3
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน      2
Name: ให้คะแนนทรัพย์, dtype: int64

##ผู้ประเมินคนที่ 2

* บ้าน

In [315]:
est2_H = home[home['ID ผู้ประเมิน']==2]
est2_H.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
5,2,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,9000000.0,"โซนนี้ราคาซื้อขาย ประมาณ 10,000-20,000 บาท/ตาร...",NaN,5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน,NaN,NaN,NaN,NaN,NaN
7,2,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000.0,3700000.0,"เสนอขาย 3,500,000 - 4,200,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
9,2,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000.0,2500000.0,"ราคาเสนอขาย 2,000,0000 - 2,800,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN

In [316]:
est2_H.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,90.0,9.000000e+01,8.900000e+01,0.0,0.0,0.0,0.0,0.0
mean,2.0,4.240733e+06,4.153258e+06,NaN,NaN,NaN,NaN,NaN
std,0.0,2.714815e+06,2.386901e+06,NaN,NaN,NaN,NaN,NaN
min,2.0,3.900000e+05,9.900000e+05,NaN,NaN,NaN,NaN,NaN
25%,2.0,2.860000e+06,2.600000e+06,NaN,NaN,NaN,NaN,NaN
50%,2.0,4.000000e+06,3.900000e+06,NaN,NaN,NaN,NaN,NaN
75%,2.0,5.000000e+06,4.900000e+06,NaN,NaN,NaN,NaN,NaN
max,2.0,2.094900e+07,1.700000e+07,NaN,NaN,NaN,NaN,NaN

* ที่ดิน

In [317]:
est2_L = land[land['ID ผู้ประเมิน']==2]
est2_L

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
1,2,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,2000000.0,"ราคาเสนอขาย 7,000-12,0000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
4,2,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,12000000.0,"ราคาเสนอขาย 100,000-150,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
7,2,https://nayoo.co/khonkaen/posts/1726,ที่ดิน,มั่นใจ,90000000,70000000.0,"30,000-40,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
10,2,https://nayoo.co/khonkaen/posts/1732,ที่ดิน,มั่นใจ,65000000,60000000.0,"ราคาเสนอขาย 12,000 - 15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
13,2,https://nayoo.co/khonkaen/posts/1866,ที่ดิน,มั่นใจ,3000000,2500000.0,"ราคาเสนอขาย 2,000 - 4,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,2,https://nayoo.co/khonkaen/posts/14539,ที่ดิน,มั่นใจ,5000000,4000000.0,"ราคาเสนอขาย 8,000 - 10,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN
202,2,https://nayoo.co/khonkaen/posts/16072,ที่ดิน,มั่นใจ,750000,750000.0,"ราคาเสนอขาย 7,000-8,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
204,2,https://nayoo.co/khonkaen/posts/17093,ที่ดิน,มั่นใจ,2650000,2500000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN
206,2,https://nayoo.co/khonkaen/posts/17112,ที่ดิน,มั่นใจ,1300000,1500000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
208,2,https://nayoo.co/khonkaen/posts/17145,ที่ดิน,มั่นใจ,3000000,2800000.0,"ราคาเสนอขาย 10,000 - 15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN

In [318]:
est2_L.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,Unnamed: 9,Unnamed: 11,Unnamed: 12
count,100.0,1.000000e+02,1.000000e+02,10.000000,0.0,0.0
mean,2.0,1.644375e+07,1.196550e+07,2.300000,NaN,NaN
std,0.0,4.202164e+07,2.843751e+07,0.483046,NaN,NaN
min,2.0,6.500000e+05,7.000000e+05,2.000000,NaN,NaN
25%,2.0,1.900000e+06,1.800000e+06,2.000000,NaN,NaN
50%,2.0,3.999500e+06,3.800000e+06,2.000000,NaN,NaN
75%,2.0,1.207500e+07,1.000000e+07,2.750000,NaN,NaN
max,2.0,2.860000e+08,2.500000e+08,3.000000,NaN,NaN

* ทาวน์โฮม

In [319]:
est2_TH = town_home[town_home['ID ผู้ประเมิน']==2]
est2_TH

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
1,2,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,1500000.0,ราคาซื้อขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,1500000.0,ราคาเสนอขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
5,2,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,3520000.0,4000000.0,ราคาเสนอขาย 3-5 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
7,2,https://nayoo.co/khonkaen/posts/580,ทาวน์โฮม,มั่นใจ,3850000.0,3200000.0,ราคาเสนอขาย 3 - 5 ล้านบาท / คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
9,2,https://nayoo.co/khonkaen/posts/582,ทาวน์โฮม,มั่นใจ,990000.0,800000.0,"ราคาเสนอขาย 700,000 - 1,000,000 บาท / คูหา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2,https://nayoo.co/khonkaen/posts/18547,ทาวน์โฮม,มั่นใจ,1430000.0,1200000.0,ราคาเสนอขาย1.2-1.5ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
236,2,https://nayoo.co/khonkaen/posts/18551,ทาวน์โฮม,มั่นใจ,1980000.0,1700000.0,ราคาเสนอขาย 1.7-2.0ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
237,2,https://nayoo.co/khonkaen/posts/19434,ทาวน์โฮม,มั่นใจ,2000000.0,1900000.0,ราคาเสนอขาย 1.8-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
238,2,https://nayoo.co/khonkaen/posts/19501,ทาวน์โฮม,มั่นใจ,1790000.0,1700000.0,ราคาเสนอขาย 1.7-1.9 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
239,2,https://nayoo.co/khonkaen/posts/20367,ทาวน์โฮม,มั่นใจ,1590000.0,1700000.0,ราคาเสนอขาย 1.7-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN

In [320]:
est2_TH.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
count,120.0,1.200000e+02,1.200000e+02,0.0,0.0,0.0,0.0,0.0
mean,2.0,1.926117e+06,1.823083e+06,NaN,NaN,NaN,NaN,NaN
std,0.0,8.295864e+05,7.744988e+05,NaN,NaN,NaN,NaN,NaN
min,2.0,5.300000e+05,4.000000e+05,NaN,NaN,NaN,NaN,NaN
25%,2.0,1.345000e+06,1.200000e+06,NaN,NaN,NaN,NaN,NaN
50%,2.0,1.750000e+06,1.700000e+06,NaN,NaN,NaN,NaN,NaN
75%,2.0,2.437500e+06,2.300000e+06,NaN,NaN,NaN,NaN,NaN
max,2.0,4.730000e+06,4.000000e+06,NaN,NaN,NaN,NaN,NaN

* อาคารพาณิชย์

In [321]:
est2_CB = commercial_building[commercial_building['ID ผู้ประเมิน']==3]
est2_CB

Empty DataFrame
Columns: [ID ผู้ประเมิน, post id, property_type, ความมั่นใจในการเมินราคาทรัพย์, ราคาทรัพย์, ประเมินราคาซื้อ-ขาย, ปัจจัยในการประเมินราคาซื้อ-ขาย, เหตุผลไม่มั่นใจราคาประเมิน, ให้คะแนนทรัพย์, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13]
Index: []

In [322]:
est2_CB.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,Unnamed: 9,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###ความมั่นใจในการเมินราคาทรัพย์

####บ้าน

In [323]:
est2_H['ความมั่นใจในการเมินราคาทรัพย์'].value_counts()

มั่นใจ       89
ไม่มั่นใจ     1
Name: ความมั่นใจในการเมินราคาทรัพย์, dtype: int64

####ที่ดิน

In [324]:
est2_L['ความมั่นใจในการเมินราคาทรัพย์'].value_counts()

มั่นใจ    100
Name: ความมั่นใจในการเมินราคาทรัพย์, dtype: int64

####ทาวน์โฮม

In [325]:
est2_TH['ความมั่นใจในการเมินราคาทรัพย์'].value_counts()

มั่นใจ    120
Name: ความมั่นใจในการเมินราคาทรัพย์, dtype: int64

####อาคารพาณิชย์

In [326]:
est2_CB['ความมั่นใจในการเมินราคาทรัพย์'].value_counts()

Series([], Name: ความมั่นใจในการเมินราคาทรัพย์, dtype: int64)

###ประเมินราคาซื้อ-ขาย

####บ้าน

In [327]:
est2_H['ประเมินราคาซื้อ-ขาย'].value_counts()

4500000.0     8
3500000.0     5
4000000.0     5
5000000.0     5
2500000.0     4
6000000.0     3
3200000.0     3
1000000.0     3
4200000.0     3
2200000.0     3
2800000.0     3
3900000.0     3
3600000.0     3
9000000.0     3
3000000.0     2
2000000.0     2
1200000.0     2
4900000.0     2
8000000.0     2
6500000.0     2
4800000.0     2
5500000.0     2
3700000.0     2
7000000.0     1
1900000.0     1
2300000.0     1
7400000.0     1
17000000.0    1
1350000.0     1
2700000.0     1
10000000.0    1
2600000.0     1
1300000.0     1
3800000.0     1
2400000.0     1
990000.0      1
1800000.0     1
4400000.0     1
5900000.0     1
1400000.0     1
Name: ประเมินราคาซื้อ-ขาย, dtype: int64

####ที่ดิน

In [328]:
est2_L['ประเมินราคาซื้อ-ขาย'].value_counts()

1500000.0      6
10000000.0     6
1200000.0      5
2500000.0      5
4000000.0      4
12000000.0     4
2000000.0      4
5000000.0      4
800000.0       3
2200000.0      3
3500000.0      3
3000000.0      3
3600000.0      2
9000000.0      2
1900000.0      2
8000000.0      2
1000000.0      2
7500000.0      2
700000.0       2
15000000.0     2
1600000.0      2
1800000.0      2
1100000.0      1
40000000.0     1
2600000.0      1
80000000.0     1
900000.0       1
16000000.0     1
29000000.0     1
24000000.0     1
75000000.0     1
750000.0       1
1400000.0      1
25000000.0     1
17000000.0     1
7200000.0      1
70000000.0     1
60000000.0     1
13000000.0     1
6000000.0      1
5500000.0      1
14000000.0     1
18000000.0     1
11000000.0     1
30000000.0     1
4500000.0      1
32000000.0     1
4200000.0      1
4400000.0      1
250000000.0    1
43000000.0     1
2800000.0      1
Name: ประเมินราคาซื้อ-ขาย, dtype: int64

####ทาวน์โฮม

In [329]:
est2_TH['ประเมินราคาซื้อ-ขาย'].value_counts()

1500000.0    15
1200000.0    15
1700000.0    14
2200000.0     9
2500000.0     9
1300000.0     6
1600000.0     6
3200000.0     5
2300000.0     5
2900000.0     4
1900000.0     3
700000.0      3
4000000.0     3
2700000.0     3
800000.0      3
650000.0      2
1000000.0     2
3000000.0     1
600000.0      1
1100000.0     1
3500000.0     1
900000.0      1
2600000.0     1
400000.0      1
2000000.0     1
520000.0      1
1800000.0     1
750000.0      1
2800000.0     1
2100000.0     1
Name: ประเมินราคาซื้อ-ขาย, dtype: int64

####อาคารพาณิชย์

In [330]:
est2_CB['ประเมินราคาซื้อ-ขาย'].value_counts()

Series([], Name: ประเมินราคาซื้อ-ขาย, dtype: int64)

###ให้คะแนนหลักทรัพย์

####บ้าน

In [331]:
est2_H['ให้คะแนนทรัพย์'].value_counts()

3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     64
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน      23
5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน      1
2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี     1
Name: ให้คะแนนทรัพย์, dtype: int64

####ที่ดิน

In [332]:
est2_L['ให้คะแนนทรัพย์'].value_counts()

2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี    52
3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     45
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน       3
Name: ให้คะแนนทรัพย์, dtype: int64

####ทาวน์โฮม

In [333]:
est2_TH['ให้คะแนนทรัพย์'].value_counts()

3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     103
2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี      7
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน        7
1 ขายไม่ได้แน่นอน                       2
5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน       1
Name: ให้คะแนนทรัพย์, dtype: int64

####อาคารพาณิชย์

In [334]:
est2_CB['ให้คะแนนทรัพย์'].value_counts()

Series([], Name: ให้คะแนนทรัพย์, dtype: int64)

##เปรียบเทียบความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของนักประเมินแต่ละคนและของราคาตั้งขาย

###Map คนที่ 1 กับคนที่ 2

In [335]:
est2_H['ประเมิน1'] = est2_H['post id'].map(est1_H.set_index('post id')['ประเมินราคาซื้อ-ขาย']);
est2_H

<ipython-input-335-01dc50f46493>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est2_H['ประเมิน1'] = est2_H['post id'].map(est1_H.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN,2500000.0
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,2200000.0
5,2,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,9000000.0,"โซนนี้ราคาซื้อขาย ประมาณ 10,000-20,000 บาท/ตาร...",NaN,5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน,NaN,NaN,NaN,NaN,NaN,5000000.0
7,2,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000.0,3700000.0,"เสนอขาย 3,500,000 - 4,200,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,3500000.0
9,2,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000.0,2500000.0,"ราคาเสนอขาย 2,000,0000 - 2,800,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,2500000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,2,https://nayoo.co/khonkaen/posts/19495,บ้านเดี่ยว,มั่นใจ,5500000.0,5000000.0,"ราคาเสนอขาย 20,000-30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,4500000.0
186,2,https://nayoo.co/khonkaen/posts/19496,บ้านเดี่ยว,มั่นใจ,7911000.0,7400000.0,"ราคาเสนอขาย 20,000 - 30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,5200000.0
187,2,https://nayoo.co/khonkaen/posts/20,บ้านเดี่ยว,มั่นใจ,2000000.0,2500000.0,ราคาเสนอขาย 2.2-3.0 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,3600000.0
188,2,https://nayoo.co/khonkaen/posts/31,บ้านเดี่ยว,มั่นใจ,4000000.0,3900000.0,ราคาเสนอขาย 3.5-4.0ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,4000000.0
189,2,https://nayoo.co/khonkaen/posts/570,บ้านเดี่ยว,มั่นใจ,1375000.0,1400000.0,ราคาเสนอขาย 1.2-1.5 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,1200000.0

In [336]:
home = est2_H[['post id','ราคาทรัพย์','ประเมินราคาซื้อ-ขาย','ประเมิน1']]

###เปรียบเทียบโดยใช้ MAPE เป็นเกณฑ์

* ใช้ MAPE เป็นเกณฑ์ในการเปรียบเทียบ

![image.png]()

In [337]:
import numpy as np
from sklearn.metrics import mean_absolute_percentage_error as MAPE

####บ้าน

In [338]:
temp = pd.read_excel('/content/drive/MyDrive/bsc_DMPM_data/คำตอบนักประเมิน.xlsx',sheet_name='บ้าน')
id1 = temp[temp['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = temp[temp['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nบ้าน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])
one2two = MAPE(id2_d['ประเมินราคาซื้อ-ขาย'],id2_d['ประเมิน2'])
two2one = MAPE(id2_d['ประเมิน2'],id2_d['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((one2two)+(two2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(id2_d)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
บ้าน
นักประเมิน คนที่ 1 = 13.00%
นักประเมิน คนที่ 2 = 8.52%
ความผิดพลาดระหว่างนักประเมินทั้ง 12.60%
จำนวนทรัพย์ทั้งหมด 89 ทรัพย์

####ที่ดิน

In [339]:
temp = pd.read_excel('/content/drive/MyDrive/bsc_DMPM_data/คำตอบนักประเมิน.xlsx',sheet_name='ที่ดิน')
id1 = temp[temp['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = temp[temp['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nบ้าน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])
one2two = MAPE(id2_d['ประเมินราคาซื้อ-ขาย'],id2_d['ประเมิน2'])
two2one = MAPE(id2_d['ประเมิน2'],id2_d['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((one2two)+(two2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(id2_d)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
บ้าน
นักประเมิน คนที่ 1 = 83.48%
นักประเมิน คนที่ 2 = 48.38%
ความผิดพลาดระหว่างนักประเมินทั้ง 58.41%
จำนวนทรัพย์ทั้งหมด 100 ทรัพย์

####ทาวน์โฮม

In [340]:
temp = pd.read_excel('/content/drive/MyDrive/bsc_DMPM_data/คำตอบนักประเมิน.xlsx',sheet_name='ทาวน์โฮม')
id1 = temp[temp['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = temp[temp['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nบ้าน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])
one2two = MAPE(id2_d['ประเมินราคาซื้อ-ขาย'],id2_d['ประเมิน2'])
two2one = MAPE(id2_d['ประเมิน2'],id2_d['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((one2two)+(two2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(id2_d)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
บ้าน
นักประเมิน คนที่ 1 = 16.21%
นักประเมิน คนที่ 2 = 12.75%
ความผิดพลาดระหว่างนักประเมินทั้ง 10.92%
จำนวนทรัพย์ทั้งหมด 120 ทรัพย์

####อาคารพาณิชย์

In [341]:
temp = pd.read_excel('/content/drive/MyDrive/bsc_DMPM_data/คำตอบนักประเมิน.xlsx',sheet_name='อาคารพาณิชย์')
id1 = temp[temp['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = temp[temp['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nบ้าน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])
one2two = MAPE(id2_d['ประเมินราคาซื้อ-ขาย'],id2_d['ประเมิน2'])
two2one = MAPE(id2_d['ประเมิน2'],id2_d['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((one2two)+(two2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(id2_d)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
บ้าน
นักประเมิน คนที่ 1 = 25.45%
นักประเมิน คนที่ 2 = 12.43%
ความผิดพลาดระหว่างนักประเมินทั้ง 19.28%
จำนวนทรัพย์ทั้งหมด 10 ทรัพย์

##เขียน function ตรวจสอบค่าที่เติม 0 ผิด

In [342]:
max(10,2)

10

In [343]:
def check_v(in1,in2):
    return max(in1/in2,in2/in1)

In [344]:
check_v(100,12)

8.333333333333334

In [345]:
check_v(100,1200)

12.0

##สร้าง column ใหม่ ลงในตาราง home โดย ค่าใน column คือค่า จาก function check(ราคาตั้งขาย,ราคาประเมิน1)

####บ้าน

In [346]:
home['check1']=home.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน1']),axis=1)
home

<ipython-input-346-25449457a69e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['check1']=home.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน1']),axis=1)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1,check1
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2700000.0,2500000.0,1.080000
3,https://nayoo.co/khonkaen/posts/33,2600000.0,2400000.0,2200000.0,1.181818
5,https://nayoo.co/khonkaen/posts/495,5900000.0,9000000.0,5000000.0,1.180000
7,https://nayoo.co/khonkaen/posts/564,4400000.0,3700000.0,3500000.0,1.257143
9,https://nayoo.co/khonkaen/posts/566,2750000.0,2500000.0,2500000.0,1.100000
...,...,...,...,...,...
185,https://nayoo.co/khonkaen/posts/19495,5500000.0,5000000.0,4500000.0,1.222222
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,7400000.0,5200000.0,1.521346
187,https://nayoo.co/khonkaen/posts/20,2000000.0,2500000.0,3600000.0,1.800000
188,https://nayoo.co/khonkaen/posts/31,4000000.0,3900000.0,4000000.0,1.000000
189,https://nayoo.co/khonkaen/posts/570,1375000.0,1400000.0,1200000.0,1.145833

In [347]:
check1 = list()
for row in home.iterrows():
    check1.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมิน1']))
check1

[1.08,
 1.1818181818181819,
 1.18,
 1.2571428571428571,
 1.1,
 1.271111111111111,
 1.36,
 1.0153846153846153,
 1.3684,
 1.031941031941032,
 1.0476190476190477,
 1.1785714285714286,
 1.0592592592592593,
 1.188,
 1.1275,
 1.1,
 1.1157142857142857,
 1.0371428571428571,
 1.0588235294117647,
 1.2571428571428571,
 1.13125,
 1.0,
 1.0888888888888888,
 1.0892333472978635,
 1.0444444444444445,
 1.0,
 1.0434782608695652,
 1.02,
 1.25,
 1.13,
 1.0714285714285714,
 1.0,
 1.0,
 1.3833333333333333,
 1.03125,
 1.1611111111111112,
 1.0526315789473684,
 1.5384615384615385,
 1.0227272727272727,
 1.1363636363636365,
 1.1111111111111112,
 1.1290322580645162,
 1.1388888888888888,
 1.0,
 1.0933333333333333,
 1.3093125,
 1.21,
 1.24,
 1.1642857142857144,
 1.1,
 1.4685314685314685,
 1.1111111111111112,
 1.1942857142857144,
 1.0714285714285714,
 1.0710526315789475,
 1.4575,
 1.046,
 1.09375,
 1.044932079414838,
 1.1090909090909091,
 1.1333333333333333,
 1.1866666666666668,
 1.036,
 1.0031347962382444,
 1.0606060606060606,
 1.2,
 1.2340425531914894,
 1.0,
 1.0857142857142856,
 1.1607142857142858,
 1.1290322580645162,
 1.0263929618768328,
 1.1628571428571428,
 1.083720930232558,
 1.1333333333333333,
 1.0526315789473684,
 1.1111111111111112,
 1.5238095238095237,
 1.0666666666666667,
 1.0167768174885612,
 1.0,
 1.0526315789473684,
 1.0083333333333333,
 1.0697727272727273,
 1.1,
 1.2222222222222223,
 1.521346153846154,
 1.8,
 1.0,
 1.1458333333333333]

In [348]:
home['check1_2'] = check1
home

<ipython-input-348-1fccc570e099>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['check1_2'] = check1

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1,check1,check1_2
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2700000.0,2500000.0,1.080000,1.080000
3,https://nayoo.co/khonkaen/posts/33,2600000.0,2400000.0,2200000.0,1.181818,1.181818
5,https://nayoo.co/khonkaen/posts/495,5900000.0,9000000.0,5000000.0,1.180000,1.180000
7,https://nayoo.co/khonkaen/posts/564,4400000.0,3700000.0,3500000.0,1.257143,1.257143
9,https://nayoo.co/khonkaen/posts/566,2750000.0,2500000.0,2500000.0,1.100000,1.100000
...,...,...,...,...,...,...
185,https://nayoo.co/khonkaen/posts/19495,5500000.0,5000000.0,4500000.0,1.222222,1.222222
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,7400000.0,5200000.0,1.521346,1.521346
187,https://nayoo.co/khonkaen/posts/20,2000000.0,2500000.0,3600000.0,1.800000,1.800000
188,https://nayoo.co/khonkaen/posts/31,4000000.0,3900000.0,4000000.0,1.000000,1.000000
189,https://nayoo.co/khonkaen/posts/570,1375000.0,1400000.0,1200000.0,1.145833,1.145833

In [349]:
home['check2']=home.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1)
home

<ipython-input-349-e29b486362d5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['check2']=home.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1,check1,check1_2,check2
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2700000.0,2500000.0,1.080000,1.080000,1.000000
3,https://nayoo.co/khonkaen/posts/33,2600000.0,2400000.0,2200000.0,1.181818,1.181818,1.083333
5,https://nayoo.co/khonkaen/posts/495,5900000.0,9000000.0,5000000.0,1.180000,1.180000,1.525424
7,https://nayoo.co/khonkaen/posts/564,4400000.0,3700000.0,3500000.0,1.257143,1.257143,1.189189
9,https://nayoo.co/khonkaen/posts/566,2750000.0,2500000.0,2500000.0,1.100000,1.100000,1.100000
...,...,...,...,...,...,...,...
185,https://nayoo.co/khonkaen/posts/19495,5500000.0,5000000.0,4500000.0,1.222222,1.222222,1.100000
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,7400000.0,5200000.0,1.521346,1.521346,1.069054
187,https://nayoo.co/khonkaen/posts/20,2000000.0,2500000.0,3600000.0,1.800000,1.800000,1.250000
188,https://nayoo.co/khonkaen/posts/31,4000000.0,3900000.0,4000000.0,1.000000,1.000000,1.025641
189,https://nayoo.co/khonkaen/posts/570,1375000.0,1400000.0,1200000.0,1.145833,1.145833,1.018182

In [350]:
home.sort_values(by=['check1_2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1,check1,check1_2,check2
187,https://nayoo.co/khonkaen/posts/20,2000000.0,2500000.0,3600000.0,1.800000,1.800000,1.250000
75,https://nayoo.co/khonkaen/posts/1,390000.0,1300000.0,600000.0,1.538462,1.538462,3.333333
177,https://nayoo.co/khonkaen/posts/19450,2100000.0,2200000.0,3200000.0,1.523810,1.523810,1.047619
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,7400000.0,5200000.0,1.521346,1.521346,1.069054
101,https://nayoo.co/khonkaen/posts/6010,2860000.0,3000000.0,4200000.0,1.468531,1.468531,1.048951
...,...,...,...,...,...,...,...
43,https://nayoo.co/khonkaen/posts/1128,4200000.0,5000000.0,4200000.0,1.000000,1.000000,1.190476
87,https://nayoo.co/khonkaen/posts/3905,1200000.0,1350000.0,1200000.0,1.000000,1.000000,1.125000
65,https://nayoo.co/khonkaen/posts/2143,5200000.0,5000000.0,5200000.0,1.000000,1.000000,1.040000
188,https://nayoo.co/khonkaen/posts/31,4000000.0,3900000.0,4000000.0,1.000000,1.000000,1.025641
167,https://nayoo.co/khonkaen/posts/9141,3500000.0,3600000.0,3500000.0,1.000000,1.000000,1.028571

In [351]:
home.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1,check1,check1_2,check2
75,https://nayoo.co/khonkaen/posts/1,390000.0,1300000.0,600000.0,1.538462,1.538462,3.333333
5,https://nayoo.co/khonkaen/posts/495,5900000.0,9000000.0,5000000.0,1.180000,1.180000,1.525424
111,https://nayoo.co/khonkaen/posts/6045,2915000.0,2000000.0,2000000.0,1.457500,1.457500,1.457500
83,https://nayoo.co/khonkaen/posts/3721,3100000.0,4000000.0,3500000.0,1.129032,1.129032,1.290323
187,https://nayoo.co/khonkaen/posts/20,2000000.0,2500000.0,3600000.0,1.800000,1.800000,1.250000
...,...,...,...,...,...,...,...
69,https://nayoo.co/khonkaen/posts/2262,3200000.0,3200000.0,3300000.0,1.031250,1.031250,1.000000
57,https://nayoo.co/khonkaen/posts/1895,1200000.0,1200000.0,1500000.0,1.250000,1.250000,1.000000
37,https://nayoo.co/khonkaen/posts/760,1800000.0,1800000.0,1700000.0,1.058824,1.058824,1.000000
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2700000.0,2500000.0,1.080000,1.080000,1.000000
176,https://nayoo.co/khonkaen/posts/18633,5000000.0,NaN,4500000.0,1.111111,1.111111,NaN

####ที่ดิน

In [352]:
temp = pd.read_excel('/content/drive/MyDrive/bsc_DMPM_data/คำตอบนักประเมิน.xlsx',sheet_name='ที่ดิน')
id1 = temp[temp['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = temp[temp['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nที่ดิน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
ที่ดิน
นักประเมิน คนที่ 1 = 83.48%
นักประเมิน คนที่ 2 = 48.38%

In [353]:
land = id2_d[['post id','ราคาทรัพย์','ประเมินราคาซื้อ-ขาย','ประเมิน2']]
land['check1']=land.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1)
land['check2']=land.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1)
land

<ipython-input-353-403f8a74233f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  land['check1']=land.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1)
<ipython-input-353-403f8a74233f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  land['check2']=land.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
1,https://nayoo.co/khonkaen/posts/1033,2800000,2000000.0,1800000.0,1.400000,1.555556
4,https://nayoo.co/khonkaen/posts/1711,14900000,12000000.0,8000000.0,1.241667,1.862500
7,https://nayoo.co/khonkaen/posts/1726,90000000,70000000.0,18000000.0,1.285714,5.000000
10,https://nayoo.co/khonkaen/posts/1732,65000000,60000000.0,35000000.0,1.083333,1.857143
13,https://nayoo.co/khonkaen/posts/1866,3000000,2500000.0,2200000.0,1.200000,1.363636
...,...,...,...,...,...,...
200,https://nayoo.co/khonkaen/posts/14539,5000000,4000000.0,4000000.0,1.250000,1.250000
202,https://nayoo.co/khonkaen/posts/16072,750000,750000.0,500000.0,1.000000,1.500000
204,https://nayoo.co/khonkaen/posts/17093,2650000,2500000.0,2000000.0,1.060000,1.325000
206,https://nayoo.co/khonkaen/posts/17112,1300000,1500000.0,1500000.0,1.153846,1.153846
208,https://nayoo.co/khonkaen/posts/17145,3000000,2800000.0,2500000.0,1.071429,1.200000

In [354]:
land.sort_values(by=['check1'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
58,https://nayoo.co/khonkaen/posts/9203,160000000,11000000.0,14000000.0,14.545455,11.428571
47,https://nayoo.co/khonkaen/posts/7349,245000000,18000000.0,24000000.0,13.611111,10.208333
148,https://nayoo.co/khonkaen/posts/3561,7374550,80000000.0,6000000.0,10.848120,1.229092
188,https://nayoo.co/khonkaen/posts/12250,2300000,24000000.0,2500000.0,10.434783,1.086957
144,https://nayoo.co/khonkaen/posts/3341,1700000,9000000.0,1600000.0,5.294118,1.062500
...,...,...,...,...,...,...
104,https://nayoo.co/khonkaen/posts/1921,8080000,8000000.0,2800000.0,1.010000,2.885714
60,https://nayoo.co/khonkaen/posts/12607,7990000,8000000.0,10000000.0,1.001252,1.251564
158,https://nayoo.co/khonkaen/posts/6732,3500000,3500000.0,2800000.0,1.000000,1.250000
202,https://nayoo.co/khonkaen/posts/16072,750000,750000.0,500000.0,1.000000,1.500000
37,https://nayoo.co/khonkaen/posts/3305,14000000,14000000.0,12000000.0,1.000000,1.166667

In [355]:
land.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
194,https://nayoo.co/khonkaen/posts/13702,90000000,75000000.0,4500000.0,1.200000,20.000000
112,https://nayoo.co/khonkaen/posts/7955,2600000,2000000.0,32000000.0,1.300000,12.307692
58,https://nayoo.co/khonkaen/posts/9203,160000000,11000000.0,14000000.0,14.545455,11.428571
47,https://nayoo.co/khonkaen/posts/7349,245000000,18000000.0,24000000.0,13.611111,10.208333
7,https://nayoo.co/khonkaen/posts/1726,90000000,70000000.0,18000000.0,1.285714,5.000000
...,...,...,...,...,...,...
182,https://nayoo.co/khonkaen/posts/9598,3900000,4000000.0,4000000.0,1.025641,1.025641
78,https://nayoo.co/khonkaen/posts/3447,980000,800000.0,1000000.0,1.225000,1.020408
100,https://nayoo.co/khonkaen/posts/1663,1485000,1200000.0,1500000.0,1.237500,1.010101
122,https://nayoo.co/khonkaen/posts/12762,650000,700000.0,650000.0,1.076923,1.000000
130,https://nayoo.co/khonkaen/posts/1599,2500000,2200000.0,2500000.0,1.136364,1.000000

####ทาวน์โฮม

In [356]:
temp = pd.read_excel('/content/drive/MyDrive/bsc_DMPM_data/คำตอบนักประเมิน.xlsx',sheet_name='ทาวน์โฮม')
id1 = temp[temp['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = temp[temp['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nที่ดิน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
ที่ดิน
นักประเมิน คนที่ 1 = 16.21%
นักประเมิน คนที่ 2 = 12.75%

In [357]:
town_home = id2_d[['post id','ราคาทรัพย์','ประเมินราคาซื้อ-ขาย','ประเมิน2']]
town_home['check1']=town_home.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1)
town_home['check2']=town_home.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1)
town_home

<ipython-input-357-ab8f48ab32d4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  town_home['check1']=town_home.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1)
<ipython-input-357-ab8f48ab32d4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  town_home['check2']=town_home.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
1,https://nayoo.co/khonkaen/posts/548,1045000.0,1500000.0,700000.0,1.435407,1.492857
3,https://nayoo.co/khonkaen/posts/549,935000.0,1500000.0,700000.0,1.604278,1.335714
5,https://nayoo.co/khonkaen/posts/579,3520000.0,4000000.0,3500000.0,1.136364,1.005714
7,https://nayoo.co/khonkaen/posts/580,3850000.0,3200000.0,3500000.0,1.203125,1.100000
9,https://nayoo.co/khonkaen/posts/582,990000.0,800000.0,1000000.0,1.237500,1.010101
...,...,...,...,...,...,...
235,https://nayoo.co/khonkaen/posts/18547,1430000.0,1200000.0,1000000.0,1.191667,1.430000
236,https://nayoo.co/khonkaen/posts/18551,1980000.0,1700000.0,1500000.0,1.164706,1.320000
237,https://nayoo.co/khonkaen/posts/19434,2000000.0,1900000.0,1600000.0,1.052632,1.250000
238,https://nayoo.co/khonkaen/posts/19501,1790000.0,1700000.0,1600000.0,1.052941,1.118750
239,https://nayoo.co/khonkaen/posts/20367,1590000.0,1700000.0,1700000.0,1.069182,1.069182

In [358]:
town_home.sort_values(by=['check1'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
176,https://nayoo.co/khonkaen/posts/3528,2190000.0,400000.0,350000.0,5.475000,6.257143
234,https://nayoo.co/khonkaen/posts/18090,3000000.0,1500000.0,2800000.0,2.000000,1.071429
180,https://nayoo.co/khonkaen/posts/6095,2420000.0,1500000.0,1500000.0,1.613333,1.613333
3,https://nayoo.co/khonkaen/posts/549,935000.0,1500000.0,700000.0,1.604278,1.335714
225,https://nayoo.co/khonkaen/posts/17742,2500000.0,1700000.0,2200000.0,1.470588,1.136364
...,...,...,...,...,...,...
188,https://nayoo.co/khonkaen/posts/8101,3200000.0,3200000.0,3300000.0,1.000000,1.031250
220,https://nayoo.co/khonkaen/posts/17545,2800000.0,2800000.0,2800000.0,1.000000,1.000000
199,https://nayoo.co/khonkaen/posts/12957,1500000.0,1500000.0,1600000.0,1.000000,1.066667
151,https://nayoo.co/khonkaen/posts/1978,2500000.0,2500000.0,2700000.0,1.000000,1.080000
181,https://nayoo.co/khonkaen/posts/6104,2200000.0,2200000.0,2500000.0,1.000000,1.136364

In [359]:
town_home.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
176,https://nayoo.co/khonkaen/posts/3528,2190000.0,400000.0,350000.0,5.475000,6.257143
180,https://nayoo.co/khonkaen/posts/6095,2420000.0,1500000.0,1500000.0,1.613333,1.613333
132,https://nayoo.co/khonkaen/posts/619,1430000.0,1000000.0,950000.0,1.430000,1.505263
1,https://nayoo.co/khonkaen/posts/548,1045000.0,1500000.0,700000.0,1.435407,1.492857
174,https://nayoo.co/khonkaen/posts/3478,2190000.0,2200000.0,1500000.0,1.004566,1.460000
...,...,...,...,...,...,...
228,https://nayoo.co/khonkaen/posts/17923,1990000.0,2200000.0,2000000.0,1.105528,1.005025
167,https://nayoo.co/khonkaen/posts/2829,2490000.0,2300000.0,2500000.0,1.082609,1.004016
220,https://nayoo.co/khonkaen/posts/17545,2800000.0,2800000.0,2800000.0,1.000000,1.000000
200,https://nayoo.co/khonkaen/posts/13411,3200000.0,3200000.0,3200000.0,1.000000,1.000000
203,https://nayoo.co/khonkaen/posts/17503,1500000.0,1300000.0,1500000.0,1.153846,1.000000

####อาคารพาณิชย์

In [360]:
temp = pd.read_excel('/content/drive/MyDrive/bsc_DMPM_data/คำตอบนักประเมิน.xlsx',sheet_name='อาคารพาณิชย์')
id1 = temp[temp['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = temp[temp['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nที่ดิน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
ที่ดิน
นักประเมิน คนที่ 1 = 25.45%
นักประเมิน คนที่ 2 = 12.43%

In [361]:
commercial_building = id2_d[['post id','ราคาทรัพย์','ประเมินราคาซื้อ-ขาย','ประเมิน2']]
commercial_building['check1']=commercial_building.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1)
commercial_building['check2']=commercial_building.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1)
commercial_building

<ipython-input-361-b5d4fd9cc700>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  commercial_building['check1']=commercial_building.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1)
<ipython-input-361-b5d4fd9cc700>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  commercial_building['check2']=commercial_building.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
1,https://nayoo.co/khonkaen/posts/6,7000000.0,8000000.0,6000000.0,1.142857,1.166667
3,https://nayoo.co/khonkaen/posts/17,12000000.0,12000000.0,12000000.0,1.000000,1.000000
5,https://nayoo.co/khonkaen/posts/21,22500000.0,20000000.0,13500000.0,1.125000,1.666667
7,https://nayoo.co/khonkaen/posts/22,3500000.0,4000000.0,4000000.0,1.142857,1.142857
9,https://nayoo.co/khonkaen/posts/24,3900000.0,3000000.0,2200000.0,1.300000,1.772727
11,https://nayoo.co/khonkaen/posts/30,4800000.0,4000000.0,3600000.0,1.200000,1.333333
13,https://nayoo.co/khonkaen/posts/35,2400000.0,2100000.0,2500000.0,1.142857,1.041667
15,https://nayoo.co/khonkaen/posts/497,5000000.0,5000000.0,3800000.0,1.000000,1.315789
17,https://nayoo.co/khonkaen/posts/498,7000000.0,8000000.0,7000000.0,1.142857,1.000000
19,https://nayoo.co/khonkaen/posts/499,9000000.0,10000000.0,8000000.0,1.111111,1.125000

In [362]:
commercial_building.sort_values(by=['check1'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
9,https://nayoo.co/khonkaen/posts/24,3900000.0,3000000.0,2200000.0,1.300000,1.772727
11,https://nayoo.co/khonkaen/posts/30,4800000.0,4000000.0,3600000.0,1.200000,1.333333
1,https://nayoo.co/khonkaen/posts/6,7000000.0,8000000.0,6000000.0,1.142857,1.166667
7,https://nayoo.co/khonkaen/posts/22,3500000.0,4000000.0,4000000.0,1.142857,1.142857
13,https://nayoo.co/khonkaen/posts/35,2400000.0,2100000.0,2500000.0,1.142857,1.041667
17,https://nayoo.co/khonkaen/posts/498,7000000.0,8000000.0,7000000.0,1.142857,1.000000
5,https://nayoo.co/khonkaen/posts/21,22500000.0,20000000.0,13500000.0,1.125000,1.666667
19,https://nayoo.co/khonkaen/posts/499,9000000.0,10000000.0,8000000.0,1.111111,1.125000
3,https://nayoo.co/khonkaen/posts/17,12000000.0,12000000.0,12000000.0,1.000000,1.000000
15,https://nayoo.co/khonkaen/posts/497,5000000.0,5000000.0,3800000.0,1.000000,1.315789

In [363]:
commercial_building.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
9,https://nayoo.co/khonkaen/posts/24,3900000.0,3000000.0,2200000.0,1.300000,1.772727
5,https://nayoo.co/khonkaen/posts/21,22500000.0,20000000.0,13500000.0,1.125000,1.666667
11,https://nayoo.co/khonkaen/posts/30,4800000.0,4000000.0,3600000.0,1.200000,1.333333
15,https://nayoo.co/khonkaen/posts/497,5000000.0,5000000.0,3800000.0,1.000000,1.315789
1,https://nayoo.co/khonkaen/posts/6,7000000.0,8000000.0,6000000.0,1.142857,1.166667
7,https://nayoo.co/khonkaen/posts/22,3500000.0,4000000.0,4000000.0,1.142857,1.142857
19,https://nayoo.co/khonkaen/posts/499,9000000.0,10000000.0,8000000.0,1.111111,1.125000
13,https://nayoo.co/khonkaen/posts/35,2400000.0,2100000.0,2500000.0,1.142857,1.041667
3,https://nayoo.co/khonkaen/posts/17,12000000.0,12000000.0,12000000.0,1.000000,1.000000
17,https://nayoo.co/khonkaen/posts/498,7000000.0,8000000.0,7000000.0,1.142857,1.000000

#HW2 แก้ไข ข้อมูลแล้วคำนวณ MAPE ใหม่อีกรอบมาเทียบกัน

##บ้าน

In [379]:
temp = pd.read_excel('/content/drive/MyDrive/bsc_DMPM_data/คำตอบนักประเมิน-แก้ไข.xlsx',sheet_name='บ้าน')
id1 = temp[temp['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = temp[temp['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nบ้าน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])
one2two = MAPE(id2_d['ประเมินราคาซื้อ-ขาย'],id2_d['ประเมิน2'])
two2one = MAPE(id2_d['ประเมิน2'],id2_d['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((one2two)+(two2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(id2_d)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
บ้าน
นักประเมิน คนที่ 1 = 13.75%
นักประเมิน คนที่ 2 = 9.51%
ความผิดพลาดระหว่างนักประเมินทั้ง 13.54%
จำนวนทรัพย์ทั้งหมด 61 ทรัพย์

##ที่ดิน

In [373]:
temp = pd.read_excel('/content/drive/MyDrive/bsc_DMPM_data/คำตอบนักประเมิน-แก้ไข.xlsx',sheet_name='ที่ดิน')
id1 = temp[temp['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = temp[temp['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nบ้าน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])
one2two = MAPE(id2_d['ประเมินราคาซื้อ-ขาย'],id2_d['ประเมิน2'])
two2one = MAPE(id2_d['ประเมิน2'],id2_d['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((one2two)+(two2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(id2_d)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
บ้าน
นักประเมิน คนที่ 1 = 55.56%
นักประเมิน คนที่ 2 = 25.89%
ความผิดพลาดระหว่างนักประเมินทั้ง 42.37%
จำนวนทรัพย์ทั้งหมด 40 ทรัพย์

##ทาวน์โฮม

In [380]:
temp = pd.read_excel('/content/drive/MyDrive/bsc_DMPM_data/คำตอบนักประเมิน-แก้ไข.xlsx',sheet_name='ทาวน์โฮม')
id1 = temp[temp['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = temp[temp['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nบ้าน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])
one2two = MAPE(id2_d['ประเมินราคาซื้อ-ขาย'],id2_d['ประเมิน2'])
two2one = MAPE(id2_d['ประเมิน2'],id2_d['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((one2two)+(two2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(id2_d)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
บ้าน
นักประเมิน คนที่ 1 = 20.12%
นักประเมิน คนที่ 2 = 15.84%
ความผิดพลาดระหว่างนักประเมินทั้ง 11.66%
จำนวนทรัพย์ทั้งหมด 61 ทรัพย์

##อาคารพาณิชย์

In [381]:
temp = pd.read_excel('/content/drive/MyDrive/bsc_DMPM_data/คำตอบนักประเมิน-แก้ไข.xlsx',sheet_name='อาคารพาณิชย์')
id1 = temp[temp['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = temp[temp['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nบ้าน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])
one2two = MAPE(id2_d['ประเมินราคาซื้อ-ขาย'],id2_d['ประเมิน2'])
two2one = MAPE(id2_d['ประเมิน2'],id2_d['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((one2two)+(two2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(id2_d)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
บ้าน
นักประเมิน คนที่ 1 = 25.45%
นักประเมิน คนที่ 2 = 12.43%
ความผิดพลาดระหว่างนักประเมินทั้ง 19.28%
จำนวนทรัพย์ทั้งหมด 10 ทรัพย์